.button {
  width: fit-content;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-surface-dark-2);
  border-radius: 0.25rem;
  border: 2px solid var(--color-surface-2-hover);
  cursor: pointer;
  transition: background-color 200ms ease;
}

.button:hover {
  background-color: var(--color-surface-alt-2-hover);
}

.button:active {
  transition-duration: 150ms;
  background-color: var(--color-surface-2-active);
}

.button.highlighted {
  background-color: var(--color-surface-alt-1-highlighted);
}

.button .button-label {
  color: var(--color-text-alt-1);
  font-weight: 400;
}

.button.highlighted .button-label {
  color: var(--color-text-dark-alt-1);
  font-weight: 500;
  transition: color 200ms ease;
}
