.navbar-container {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b3f65;
  z-index: 10;
}

.character-menu__toggle-wrapper {
  height: 100%;
  position: relative;
}

.character-menu__toggle {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.character-menu__toggle:hover {
  background-color: #3c537e;
}
