.table-filter-container {
  display: flex;
  align-items: center;
}

.table-filter {
  width: fit-content;
  margin: 0.5rem 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-filter p {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.table-filter .button {
  width: 100%;
  text-align: center;
}

.table__episode-name-wrapper {
  height: 30px;
  position: sticky;
  top: 50px;
  padding: 5px 0;
  text-align: center;
  background-color: var(--main-bg-color);
  z-index: 6;
}

.table__episode-name {
  text-align: center;
}

.table-area-container {
  width: 100%;
}

.table__area-name {
  text-align: center;
  margin-bottom: 0.5rem;
}

.secID-container {
  position: sticky;
  flex-direction: column;
  top: 80px;
  padding: 10px 0;
  background-color: var(--main-bg-color);
  z-index: 5;
}

.table__row,
.secID-container {
  width: 100%;
  display: flex;
}

.table__source-label-container,
.table__secID-container,
.table__item-container,
.table__drop-source-name-container {
  width: calc(100% / 11);
}

.table__secID-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  padding: 5px;
  text-align: center;
  /* background-color: var(--color-surface-alt-1); */
  border: 1px solid var(--color-surface-2);
  border-radius: var(--border-radius-1);
}

.table__secID-container img {
  width: 25px;
}

.table__secID-container#Viridia {
  background-color: #00a56230;
  border: 1px solid #00a56270;
}

.table__secID-container#Greenill {
  background-color: #76fe4330;
  border: 1px solid #76fe4370;
}

.table__secID-container#Skyly {
  background-color: #59f9f930;
  border: 1px solid #59f9f970;
}

.table__secID-container#Bluefull {
  background-color: #4488ff30;
  border: 1px solid #4488ff70;
}

.table__secID-container#Purplenum {
  background-color: #cc00ff30;
  border: 1px solid #cc00ff70;
}

.table__secID-container#Pinkal {
  background-color: #ff87cb30;
  border: 1px solid #ff87cb70;
}

.table__secID-container#Redria {
  background-color: #f70f0f30;
  border: 1px solid #f70f0f70;
}

.table__secID-container#Oran {
  background-color: #f7830f30;
  border: 1px solid #f7830f70;
}

.table__secID-container#Yellowboze {
  background-color: #f7f71530;
  border: 1px solid #f7f71570;
}

.table__secID-container#Whitill {
  background-color: #ffffff30;
  border: 1px solid #ffffff70;
}

.table__secID-container p {
  margin-top: 4px;
}

.table__source-label-container,
.table__drop-source-name-container {
  height: fit-content;
  align-self: center;
  margin: 2px;
  padding: 0.5rem;
  border-radius: var(--border-radius-1);
}

.table__source-label-container p {
  text-align: center;
}

.table__drop-source-name-container p {
  text-align: end;
}

.table__drop-source-name-container p#rare-monster {
  color: #ffff00;
}

.table__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  padding: 5px;
  text-align: center;
  background-color: var(--color-surface-1);
  border: 1px solid var(--color-surface-2);
  border-radius: var(--border-radius-1);
  transition: background-color 200ms ease;
  cursor: pointer;
}

.table__item-container.no-drop {
  background-color: var(--color-surface-1-disabled);
  pointer-events: none;
}

.table__item-container:hover:not(.table__item-container.no-drop) {
  background-color: var(--color-surface-1-hover);
}

.table__item-secID {
  font-weight: 600;
  text-align: center;
}

.table__item-secID,
.table__item-name {
  font-size: 0.9rem;
}

.table__item-name {
  flex-grow: 1;
  margin: 0.5rem 0;
}

.table__item-name.no-drop {
  opacity: 0.5;
}

.table__drop-rate_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.table__drop-rate {
  color: var(--color-text-2-on-surface-1);
  font-size: 0.8rem;
}

.table__drop-rate_rate {
  color: var(--color-text-3-on-surface-1);
  font-weight: 600;
}
